

body {
    font-family: sans-serif;

}

h2 {
    font-family: courier;

}



/* This will target every single section */

section {
    background-color: pink;
    
}

body > section:nth-child(3) {
    background-color: firebrick;
}

/* This will target every element with this class */
.text {
    font-size: 2em;
}

h2.header-manhattan {
    text-align: center;
}

